.card {
    width: 32rem;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.4rem 1.2rem;

    img {
        width: 7.2rem;
        padding-top: 2.4rem;
    }

    .container {
        h4 {
            color: var(--black-color);
            font-size: 2.2rem;
            font-weight: 400;
            text-align: center;
            padding: 1rem;
        }

        p {
            margin-top: 0.3rem;
            font-size: 1.2rem;
            color: var(--primary-color);
            text-align: center;
            line-height: 170%;
            font-weight: 300;
        }
    }

    @media(max-width: 1024px) {
        width: 24rem;
        height: 24rem;
        padding: 0;
        img {
            padding: 0;
            width: 5.6rem;
        }

        .container {
            h4 {
                font-size: 1.8rem;
                padding: 0;
            }

            p {
                font-size: 1.2rem;
            }
        }

    }
}