@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
html, body{
    height: 100%;
    font-family: "Oxanium", serif;
}

.container{
    max-width: 100%;
    margin: 0 auto;
}