button {
    padding: 1.0rem 3.2rem;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--white-color);
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 1.0rem;
    margin-top: 3.4rem;

    @media (max-width: 1024px) {
        padding: 1.0rem 2.0rem;
        font-size: 1.2rem;
        margin-top: 1.8rem;
    }
}